@{
    ViewData["Title"] = "Get to Know Joel";
}

<div class="container text-center">
    <h2>Get to Know Joel</h2>
    
    <p><a href="https://www.qwcomedy.com/" target="_blank">Visit Quick Wits Comedy</a></p>
    <p><a href="https://baconsale.com/" target="_blank">Check out Baconsale</a></p>

    <a href="https://baconsale.com/" target="_blank">
        <img src="https://byu.box.com/s/ie6ibeddqm0f6oudp7bc5dyt87zxi2u4" alt="Baconsale" class="img-fluid rounded shadow" />
    </a>
</div>